<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.watermanagementsystem">

    <application
        android:allowBackup="true"
        android:label="Water Management System"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".AdminDashboardActivity" />


    </application>
</manifest>